<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        a{
            text-decoration: none;
        }
        img{
            width: 30px;
            height: 30px;
            margin-top: 30px;
        }
        #user-tools{
            margin-left: 10px;
            margin-top: 30px;
            width: 50px;
            text-align: center;
            position: fixed;
        }
        #content-main{
            margin-left: 80px;
            width: 500px;
            height: 100%;
            text-align: center;
            position: fixed;
        }
        #content{
            margin-top: 30px;
            margin-left: 700px;
            text-align: left;
            position: fixed;
        }
        #homepicture001{
            width: 90%;
            height: 90%;
        }
    </style>
</head>
<body>
    <div id="user-tools">
        {% load static %}
        <a href="/home/"><img src="{% static "img/home.png" %}" alt="首页" title="首页"></a><br>
        <a href="/person/"><img src="{% static "img/person.png" %}" alt="个人设置" title="个人设置"></a><br>
        <a href="/target/"><img src="{% static "img/plan.svg" %}" alt="计划清单" title="计划"></a><br>
        <a href="/punch/"><img src="{% static "img/punch.png" %}" alt="打卡记录" title="打卡"></a><br>
        <a href="/admin/"><img src="{% static "img/settings.png" %}" alt="后台设置" title="设置"></a><br>
    </div>
    <div id="content-main">
        <img id="homepicture001" src="../static/img/homepicture001.jpg">
    </div>
    <div id="content">
        <span><b>个人信息</b></span><br><br>
        <span>姓名：{{ userinfo.username }}</span><br><br>
        <span>手机：{{ userinfo.iphone }}</span><br><br>
        <span>邮箱：{{ userinfo.email }}</span><br><br>
        <span>签名：{{ userinfo.signature }}</span><br><br>

    </div>

</body>
</html>