<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="sunyue">
		<title>个人信息</title>
		<style type="text/css">
			a{
                text-decoration: none;
            }
            img{
                width: 30px;
                height: 30px;
                margin-top: 30px;
            }
			.texts{
				background-color:transparent;
				border:0px;
				border-bottom:#666 1px solid;
			}
			#body{
				{% load static %}
                background:url("{% static "img/background.jpg" %}");
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			 #user-tools{
                margin-left: 10px;
                width: 50px;
                text-align: center;
                position: fixed;
            }
			#content{
				text-align: center;
				margin-left: 50px;
				margin-top: 30px;
                width: 300px;
				font-size: 15px;
			}

		</style>
	</head>

    <body id="body">
		 <div id="user-tools">
			{% load static %}
			<a href="/home/"><img src="{% static "img/home.png" %}" alt="首页" title="首页"></a><br>
			<a href="/person/"><img src="{% static "img/person.png" %}" alt="个人设置" title="个人设置"></a><br>
			<a href="/target/"><img src="{% static "img/plan.svg" %}" alt="计划清单" title="计划"></a><br>
			<a href="/punch/"><img src="{% static "img/punch.png" %}" alt="打卡记录" title="打卡"></a><br>
			<a href="/admin/"><img src="{% static "img/settings.png" %}" alt="后台设置" title="设置"></a><br>
        </div>
		<div id="content">
			<form method="post" action="/personinfosetting/" >
                {% csrf_token %}  <!--针对post方法放置一个自动生成的令牌，防止跨站请求伪造漏洞-->
                <h3>编辑个人信息</h3>
				姓名： <input class="texts" type="text" name="username" placeholder="{{ userinfo.username }}"><br><br>
				手机： <input class="texts" type="text" name="iphone" placeholder="{{ userinfo.iphone }}"><br><br>
                邮箱： <input class="texts" type="text" name="email" placeholder="{{ userinfo.email }}"><br><br>
                签名： <input class="texts" type="text" name="signature" placeholder="{{ userinfo.signature }}"><br><br>
				<input type="reset" value="取消">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type="submit" value="提交">
			</form>
		</div>
	</body>
</html>