<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="sunyue">
		<title>登录</title>
		<style type="text/css">
			.texts{
				background-color:transparent;
				border:0px;
				border-bottom:#666 1px solid;
                font-size: 25px;
			}

			#body{
				{% load static %}
                background:url("{% static "img/background.jpg" %}");
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			#content{
				text-align: center;
				margin-top: 470px;
                margin-left: 30px;
                width: 500px;
				font-size: 15px;
			}

		</style>
	</head>

    <body id="body">
		<div id="content">
			<form method="post" action="/login/" >
                {% if messages %}
                    <script>
                        {% for msg in messages %}
                            alert('{{ msg.message }}');
                        {% endfor %}
                    </script>
                {% endif %}
                {% csrf_token %}  <!--针对post方法放置一个自动生成的令牌，防止跨站请求伪造漏洞-->
				姓名： <input class="texts" type="text" name="username"><br><br>
				密码： <input class="texts" type="password" name="password"><br><br><br>
                <input type="reset" value="取消">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<input type="submit" value="登录">
			</form>
		</div>
	</body>
</html>