<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="sunyue">
		<title>打卡</title>
		<style type="text/css">
			a{
                text-decoration: none;
            }
            img{
                width: 30px;
                height: 30px;
                margin-top: 30px;
            }
			.texts{
				background-color:transparent;
				border:0px;
				border-bottom:#666 1px solid;
			}
			#body{
                {% load static %}
                background:url("{% static "img/background.jpg" %}");
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			 #user-tools{
                 margin-left: 10px;
                 width: 50px;
                 text-align: center;
                 position: absolute;
            }
			#content{
				text-align: center;
                top: 40%;
                left: 30%;
				font-size: 15px;
                position: absolute;
			}

		</style>
	</head>

    <body id="body">
        <div id="user-tools">
            {% load static %}
			<a href="/home/"><img src="{% static "img/home.png" %}" alt="首页" title="首页"></a><br>
			<a href="/person/"><img src="{% static "img/person.png" %}" alt="个人设置" title="个人设置"></a><br>
			<a href="/target/"><img src="{% static "img/plan.svg" %}" alt="计划清单" title="计划"></a><br>
			<a href="/punch/"><img src="{% static "img/punch.png" %}" alt="打卡记录" title="打卡"></a><br>
			<a href="/admin/"><img src="{% static "img/settings.png" %}" alt="后台设置" title="设置"></a><br>
        </div>
        <div id="content">
		    <h1>今天是坚持的第 10 天了</h1>
		</div>
	</body>
</html>