<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="sunyue">
		<title>计划</title>
		<style type="text/css">
			a{
                text-decoration: none;
            }
            img{
                width: 30px;
                height: 30px;
                margin-top: 30px;
            }
			#body{
                {% load static %}
                background:url("{% static "img/background.jpg" %}");
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			 #user-tools{
                 margin-left: 10px;
                 width: 50px;
                 text-align: center;
                 position: fixed;
            }
			#content{
				text-align: left;
				margin-left: 100px;
				margin-top: 50px;
                width: 600px;
				font-size: 15px;
			}

		</style>
	</head>

    <body id="body">
        <div id="user-tools">
            {% load static %}
            <a href="/home/"><img src="{% static "img/home.png" %}" alt="首页" title="首页"></a><br>
            <a href="/person/"><img src="{% static "img/person.png" %}" alt="个人设置" title="个人设置"></a><br>
            <a href="/target/"><img src="{% static "img/plan.svg" %}" alt="计划清单" title="计划"></a><br>
            <a href="/punch/"><img src="{% static "img/punch.png" %}" alt="打卡记录" title="打卡"></a><br>
            <a href="/admin/"><img src="{% static "img/settings.png" %}" alt="后台设置" title="设置"></a><br>
        </div>
        <div id="content">
			<h3>周计划</h3><hr>
            <table class="table-content" cellspacing="10px" cellpadding="5px">
                <caption>
                    <td><b>计划名称</b></td>
                    <td><b>计划内容</b></td>
                </caption>
                {% for i in usertarget %}
                    {% if i.targettype == "0" %}
                        <tr>
                            <td>{{ i.targetname }}</td>
                            <td>{{ i.targetcontent }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table><br>
            <h3>月计划</h3><hr>
            <table class="table-content" cellspacing="10px" cellpadding="5px">
                <caption>
                    <td><b>计划名称</b></td>
                    <td><b>计划内容</b></td>
                </caption>
                {% for i in usertarget %}
                    {% if i.targettype == "1" %}
                        <tr>
                            <td>{{ i.targetname }}</td>
                            <td>{{ i.targetcontent }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
		</div>
	</body>
</html>